{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="card text-center mx-auto" style="">
        <img class="card-img-top mx-auto" src="{% static "/images/logo-eventsandmore.png" %}" alt="EventsAndMore logo"
             style="width: 20%;height: 20%;">
        <div class="card-body">
            <h1 class="card-title">About us</h1>
            <h3 class="card-subtitle mb-2 text-muted">Who we are at Events and More?</h3>
            <br>
            <p class="card-text">EventsAndMore is a company which main goal is to prepare events that organizations what
                to organize for other entities and visitors. EventsAndMore offers the infrastructure to prepare a
                well-organized event, offering the pavilion, additional services and a good client attention.</p>
            <a href="https://www.instagram.com/eventsandmore.es/" class="card-link">Instagram</a>
            <a href="https://www.linkedin.com/company/eventsandmore/" class="card-link">LinkedIn</a>
        </div>
    </div>
{% endblock %}
