<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% block headers %}
{% endblock %}
<head>
    <meta charset="UTF-8">
    <title>EventsAndMore</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <script src="{% static 'js/axios.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"
            integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
            integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
            crossorigin="anonymous"></script>
    <style>
        body {
            font-family: Lato, sans-serif;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light " style="background-color:#66B094">
    <div class="container-fluid">
        <a class="navbar-brand btn font-weight-bold" href="{% url 'home' %}">EventsAndMore</a>
        <ul class="navbar-nav">
            <li class="nav-item pe-2 py-1">
                <a role="button" class="btn btn-outline-light mr-3 py-2"
                   href="{% url 'home' %}">Events list</a>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown pe-2 py-1">
                    <a class="nav-link dropdown-toggle btn btn-outline-light text-light mr-3 py-2"
                       href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item bg-light" href="{% url 'service-list' %}">Service List</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item bg-light" href="{% url 'service-category' %}">Service categories</a>
                        </li>
                        <li><a class="dropdown-item bg-light" href="{% url 'service-subcategory' %}">Service
                            subcategories</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item bg-light" href="{% url 'catalog-control-panel' %}">Catalogs</a></li>
                    </ul>
                </li>
                {% if not request.user.is_staff %}
                    <li class="nav-item dropdown pe-2 py-1">
                        <a class="nav-link dropdown-toggle btn btn-outline-light text-light mr-3 py-2"
                           href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            My account
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item bg-light" href="{% url 'event-request-form' %}">Reserve an
                                event</a>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item bg-light" href="{% url 'event-request-list' %}">My events</a>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item bg-light" href="{% url 'stand-reservation-list' %}">Stand
                                Reservations</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if request.user.is_staff %}
                    <li class="nav-item dropdown pe-2 py-1">
                        <a class="nav-link dropdown-toggle btn btn-outline-light text-light mr-3 py-2"
                           href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Admin
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item bg-light" href="{% url 'event-request-form' %}">Reserve an
                                event</a>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item bg-light" href="{% url 'event-request-list' %}">Manage
                                Reservations</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item bg-light" href="{% url 'event-layout' %}">Event Layout</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item bg-light" href="{% url 'stand-reservation-list' %}">Stand
                                Reservations</a></li>
                        </ul>
                    </li>
                {% endif %}
                <li class="nav-item pe-2 py-1">
                    <a role="button" class="btn btn-outline-light mr-3 py-2"
                       href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item pe-2 py-1">
                    <a role="button" class="btn btn-outline-light" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item pe-2 py-1">
                    <a role="button" class="btn btn-outline-light" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container py-5">
    {% block content %}
    {% endblock %}
</div>
</body>
<script>
</script>
</html>
