{% extends 'base.html' %}
{% load static %}
{% block headers %}
    <script type="module" src="{% static 'js/event-request-utils.js' %}"></script>
{% endblock %}
{% block content %}
    {% csrf_token %}

    <h1>Event requests</h1>
    <div class="row">
        <form method="GET">
            <div class="col">
                {{ filter.form }}
                <input class="btn btn-primary" type="submit" value="Filter">
            </div>
        </form>
    </div>
    <div class="row mt-5">
        <table class="table table-hover">
            <tr>
                <th scope="col">Event name</th>
                <th scope="col">Initial date</th>
                <th scope="col">Final date</th>
                <th scope="col">Conflicts</th>
                <th scope="col">Accept</th>
                <th scope="col">Edit</th>
                <th scope="col">Deny</th>
            </tr>
            {% regroup filter.qs by status_name as event_requests %}
            {% for type in event_requests %}
                <tr class="bg-light">
                    <th scope="col" colspan="7" style="text-align: center">{{ type.grouper }}</th>
                </tr>
                {% for event in type.list|dictsort:"initial_date" %}
                    <tr>
                        <td>{{ event.event_name }}</td>
                        <td>{{ event.initial_date }}</td>
                        <td>{{ event.final_date }}</td>
                        <td>
                            {% if event.status != 3 %}
                                {% if event.has_conflicts %}
                                    <span class="badge badge-danger">Conflicts</span>
                                {% else %}
                                    <span class="badge badge-success">No conflicts</span>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if perms.manager.change_event_request and event.status != 3 %}
                                <button class="btn btn-primary" onclick="acceptEvent({{ event.id }})"><i
                                        class="fas fa-check"></i>
                                </button>
                            {% endif %}
                        </td>
                        <td>
                            {% if perms.manager.change_event_request and event.status != 3 %}
                                <button class="btn btn-warning" onclick="changeEventDate({{ event.id }})"><i
                                        class="far fa-edit"></i></button>
                            {% endif %}
                        </td>
                        <td>
                            {% if perms.manager.change_event_request and event.status != 3 and event.status != 4 %}
                                <button class="btn btn-danger" onclick="denyEvent({{ event.id }})"><i
                                        class="fas fa-times"></i>
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
{% endblock %}