{% extends  'base.html' %}
{% load static %}
{% block headers %}
<link rel="stylesheet" href="{% static 'css/event_layout.css' %}">
<script type="module" src="{% static 'js/event_layout/script.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <button type="button" class="btn btn-primary" id="button-submit">Add stand</button>
        <button type="button" class="btn btn-danger" id="button-reset">Reset selection</button>
        <table id="grid" class="disable-select" style="table-layout:fixed;"></table>
    </div>

{% endblock %}

