{% extends 'base.html' %}
{% block content %}
    {% csrf_token %}

    <h1>Event requests</h1>
    <form method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    {% for obj in filter.qs %}
        {{ obj.event_name }} - ${{ obj.status }}<br />
    {% endfor %}
{#    <h3>PENDING</h3>#}
{#    {% if perms.manager.change_event_request %}#}
{#        {% for event in pending_on_manager %}#}
{#            {{ event }}#}
{#            <button class="btn btn-primary" onclick="acceptEvent({{ event.id }})">Accept</button>#}
{#            <button class="btn btn-warning" onclick="changeEventDate({{ event.id }})">Change date</button>#}
{#            <button class="btn btn-danger" onclick="denyEvent({{ event.id }})">Deny</button>#}
{#        {% endfor %}#}
{#        {% for event in pending_on_organizer %}#}
{#            {{ event }}#}
{#            <button class="btn btn-primary" onclick="acceptEvent({{ event.id }})">Accept</button>#}
{#            <button class="btn btn-warning" onclick="changeEventDate({{ event.id }})">Change date</button>#}
{#            <button class="btn btn-danger" onclick="denyEvent({{ event.id }})">Deny</button>#}
{#        {% endfor %}#}
{#    {% else %}#}
{#        {% for event in pending_on_organizer %}#}
{#            {{ event }}#}
{#            <button class="btn btn-primary" onclick="acceptEvent({{ event.id }})">Accept</button>#}
{#            <button class="btn btn-warning" onclick="changeEventDate({{ event.id }})">Change date</button>#}
{#            <button class="btn btn-danger" onclick="denyEvent({{ event.id }})">Deny</button>#}
{#        {% endfor %}#}
{#        {% for event in pending_on_manager %}#}
{#            {{ event }}#}
{#        {% endfor %}#}
{#    {% endif %}#}
{#    <h3>ACCEPTED</h3>#}
{#    {% for event in accepted %}#}
{#        {{ event }}#}
{#        {% if perms.manager.change_event_request %}#}
{#            <button class="btn btn-warning" onclick="changeEventDate({{ event.id }})">Change date</button>#}
{#            <button class="btn btn-danger" onclick="denyEvent({{ event.id }})">Deny</button>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#    <h3>DENIED</h3>#}
{#    {% for event in denied %}#}
{#        {{ event }}#}
{#        {% if perms.manager.change_event_request %}#}
{#            <button class="btn btn-primary" onclick="acceptEvent({{ event.id }})">Accept</button>#}
{#            <button class="btn btn-warning" onclick="changeEventDate({{ event.id }})">Change date</button>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{% endblock %}