{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1 class="text-center">Welcome to Events And More</h1>
    <h2 class="text-center mb-5">Upcoming events</h2>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% if next_events|length > 0 %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
            {% endif %}
            {% for event in next_events|slice:"1:" %}
                <button type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="{{ forloop.counter }}"
                        aria-label="Slide 2"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% if next_events|length > 0 %}
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{% static next_events.0.0 %}" alt="0 slide"
                         style="max-height:700px;">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 class="my-5">{{ next_events.0.1.name }}</h1>
                        <h5 class="my-5">{{ next_events.0.1.initial_date }} to {{ next_events.0.1.final_date }}</h5>
                        <h5 class="my-5">{{ next_events.0.1.description | truncatewords:100 }}</h5>
                        <a class="btn btn-light btn-lg my-5"
                           href="{% url 'event-detail' pk=next_events.0.1.id %}">Event details</a>
                    </div>
                </div>
            {% endif %}
            {% for event in next_events|slice:"1:" %}
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static event.0 %}" alt="{{ forloop.counter }} slide"
                         style="max-height:700px;">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 class="my-5">{{ event.1.name }}</h1>
                        <h5 class="my-5">{{ event.1.initial_date }} to {{ next_events.0.1.final_date }}</h5>
                        <h5 class="my-5">{{ event.1.description | truncatewords:100 }}</h5>
                        <a class="btn btn-light btn-lg my-5"
                           href="{% url 'event-detail' pk=event.1.id %}">Event details</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if next_events|length > 1 %}
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        {% endif %}
    </div>
    <h2 class="text-center mt-5 mb-4">List of all upcoming events</h2>
    {% for event in events %}
        <div class="card mx-auto mb-5">
            <div class="card-body">
                <h3 class="d-inline-block card-title mb-2">{{ event.name }}</h3>
                <h5 class="my-2">{{ event.initial_date }} to {{ event.final_date }}</h5>
                <h5 class="my-4">{{ event.description | truncatechars:300 }}</h5>
                <a class="btn btn-info mt-2" href="{% url 'event-detail' pk=event.id %}">Event details</a>
            </div>
        </div>
    {% empty %}
        <li>We are sorry, there aren't any upcoming events.</li>
    {% endfor %}
{% endblock %}