{% extends 'base.html' %}
{% block content %}
    {% csrf_token %}
    <h1>Services lists</h1>
    {% if perms.manager.add_additionalservice %}
        <a href="{% url 'service-control-panel' %}" class="btn btn-primary" role="button">Add new service!</a>
    {% endif %}
    <br>
    {% for service in services|dictsort:"name" %}
        <h6 style="margin-top:2%;">
            <div class="card" style="width: 45rem;">
                <div class="card-body">
                    <h5 class="d-inline-block card-title">{{ service.name }}</h5>
                    {% if perms.manager.delete_service %}
                        <a href="{% url 'delete-service' service.id %}"
                           class="btn btn-outline-danger btn-sm float-end">Delete service</a>
                    {% endif %}
                </div>
            </div>
        </h6>
    {% endfor %}
{% endblock %}