{% extends 'base.html' %}
{% block content %}
    {% csrf_token %}
    <div>
        <form method="post">{% csrf_token %}
            <h3>Are you sure you want to delete the category: "{{ object.name }}"?</h3>
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{{ view.get_success_url }}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
    <br>
    <br>
    <button type="button" class="btn btn-outline-info" onclick="history.back()">Go Back</button>
{% endblock %}