{% extends 'base.html' %}
{% block content %}
    {% if request.user.is_staff %}
        <h3>Create a new category!</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create category" class="btn btn-primary">
        </form>
    {% endif %}
    <br>
    <h2 style='text-align:left'>
        Categories:
    </h2>
    {% for category in categories|dictsort:"name" %}
        <h6 style="margin-top:2%;">
            <div class="card" style="width: 45rem;">
                <div class="card-body">
                    <h5 class="d-inline-block card-title">{{ category.name }}</h5>
                    {% if request.user.is_staff %}
                        <a href="{% url 'delete-service-category' category.id %}"
                           class="btn btn-outline-danger btn-sm float-right">Delete category</a>
                    {% endif %}
                </div>
            </div>
        </h6>
    {% empty %}
        <li>There are no categories yet</li>
    {% endfor %}
{% endblock %}