{% extends 'base.html' %}
{% block content %}
    {% if perms.manager.add_additionalservicecategory %}
        <h3>Create a new category!</h3>
        <div>
            <form method="POST">
                {% csrf_token %}
                <div class="row mb-2">
                    <div class="col">
                        <label for="id_name">Name:</label>
                        {{ form.name }}
                    </div>
                </div>

                <input type="submit" value="Create category" class="btn btn-primary">
            </form>
        </div>
    {% endif %}
    <br>
    <h2 style='text-align:left'>
        Categories:
    </h2>
    {% for category in categories|dictsort:"name" %}
        <h6 style="margin-top:2%;">
            <div class="card" style="width: 45rem;">
                <div class="card-body">
                    <h5 class="d-inline-block card-title">{{ category.name }}</h5>
                    {% if perms.manager.delete_additionalservicecategory %}
                        <a href="{% url 'delete-service-category' category.id %}"
                           class="btn btn-outline-danger btn-sm float-end">Delete category</a>
                    {% endif %}
                </div>
            </div>
        </h6>
    {% empty %}
        <li>There are no categories yet</li>
    {% endfor %}
{% endblock %}