{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Stand reservations list</h1>
    <br>
    {% for reservation, stand_reservations in stand_reservations.items %}
        <h6 style="margin-top:2%;"></h6>
        <div class="card" style="width: 45rem;">
            <div class="card-body">
                <h3 class="d-inline-block card-title">Event: {{ reservation.event.name }}</h3>
                <div class="row">
                    <div class="col">
                        <h5>Status: {{ stand_reservations.0.reservation.status_name }}</h5>
                    </div>
                    <div class="col me-2">
                        {% if stand_reservations.0.reservation.status == 1 %}
                            <a class="btn btn-primary float-end me-2"
                               href="{% url 'stand-services' %}?reservation={{ reservation.id }}">Finish the
                                reservation</a>
                        {% endif %}
                    </div>
                </div>
                {% for stand_reservation in stand_reservations %}
                    <div class="row">
                        <div class="col">
                            <p>Stand {{ stand_reservation.stand.pk }}</p>
                        </div>
                    </div>
                    {% if stand_reservation.additional_service_reservations %}
                        <h4>Services</h4>
                    {% endif %}
                    {% for service_reservation in stand_reservation.additional_service_reservations %}
                        <div class="row">
                            <div class="col">
                                <p>x{{ service_reservation.quantity }}
                                    - {{ service_reservation.additional_service.name }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}