{% extends 'base.html' %}
{% load static %}
{% block headers %}
    <link rel="stylesheet" href="{% static 'css/stand_reservation.css' %}">
    <script type="module" src="{% static 'js/stand_reservation/script.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row mb-3">
        <h3>Finish your reservation for: <b>{{ reservation.event.name }}</b></h3>
    </div>
    <div class="row">
        <p>Add additional services for your stands before finishing your stand reservation</p>
    </div>
    {% for stand_reservation in stand_reservations %}
        <div class="py-3">
            <div class="row">
                <h5>Stand {{ stand_reservation.stand.id }}: {{ stand_reservation.stand.size }}</h5>
            </div>
            <div id="service-list-{{ stand_reservation.id }}">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-outline-primary"
                                onclick="addServiceLine(this, {{ stand_reservation.id }})"
                                id="add-line-button-{{ stand_reservation.id }}">Add service
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="row pt-3">
        <div class="col">
            <button class="btn btn-primary" onclick="submitServices()">Submit</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        {% for stand_reservation in stand_reservations %}
            $("#category-{{ stand_reservation.id }}").change(function () {
                var url = '/load-subcategories/';
                var categoryId = $(this).val();
                $.ajax({
                    url: url + categoryId,
                    success: function (data) {
                        $("#subcategory-{{ stand_reservation.id }}").html(data);
                    }
                });
            });

            $("#subcategory-{{ stand_reservation.id }}").change(function () {
                var url = '/load-services/';
                var categoryId = $(this).val();
                $.ajax({
                    url: url + categoryId,
                    success: function (data) {
                        $("#service-{{ stand_reservation.id }}").html(data);
                    }
                });
            });

        {% endfor %}
        let services = {};
        let i = 0;

        function addService(standReservationId) {
            const service = document.getElementById('service-' + standReservationId).value;
            const quantity = document.getElementById('quantity-' + standReservationId).value;
            const comments = document.getElementById('comments-' + standReservationId).value;
            if (service && quantity && comments) {
                services[standReservationId] = [service, quantity, comments];
                const original = document.getElementById('service-form-' + standReservationId)
                const clone = original.cloneNode(true);
                clone.id = 'service-form-' + standReservationId + '-' + ++i;
                original.parentNode.appendChild(clone);
            }
        }
    </script>
    <br>
    <button type="button" class="btn btn-outline-info" onclick="history.back()">Finish later and go back</button>
{% endblock %}