:root {
    --text-main: 'Lato', sans-serif;
    --black: #1f1f1f;
    --white: #efefef;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

input, input:before, input:after {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}


.cell {
    user-select: none;
}

.cell.empty {
    background-color: var(--white);
    border: 1px solid gray;
}

.cell.confirmed {
    background-color: green;
    border: 1px solid gray;
}

.cell.available:hover {
    background: blue;
}

.cell.selected {
    background-color: blue;
}

.cell.available {
    background-color: green;
}

.cell.unavailable {
    background-color: red;
}

.border-left {
    border-left: 3px solid black !important;
}

.border-right {
    border-right: 3px solid black !important;
}

.border-top {
    border-top: 3px solid black !important;
}

.border-bottom {
    border-bottom: 3px solid black !important;
}

@keyframes pop {
    10% {
        transform: scale(0.0);
    }
    30% {
        transform: scale(0.25)
    }
    75% {
        transform: scale(1.25)
    }
    100% {
        transform: scale(1)
    }
}

table {
    width: calc(45 * 25px);
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid black;
    background-color: var(--white);
}

tr {
    height: 45px;
}

td {
    color: white;
    text-align: center;
}

